@model List<ContactUsViewModel>

<div class="content w-75 float-right container pr-5">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h1 class="card-title text-primary">Bize Ulaşın</h1>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-center">

                                    <th>Id</th>
                                    <th>İsim</th>
                                    <th>Soyisim</th>
                                    <th>Telefon Numarası</th>
                                    <th>Email</th>
                                    <th>Durum</th>
                                    <th class="text-center">#</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model)
                                {
                                    <tr>

                                        <td>@c.Id</td>
                                        <td>@c.FirstName</td>
                                        <td>@c.LastName</td>
                                        <td>@c.PhoneNumber</td>
                                        <td>@c.Email</td>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input onchange="changeIsCompleted(this,'@c.Id');"
                                                       type="checkbox"
                                                       class="custom-control-input"
                                                       asp-for="@c.IsCompleted"
                                                       id="isCompleted_@c.Id" />
                                                <label class="custom-control-label" for="isCompleted_@c.Id">Görüşüldü</label>
                                            </div>
                                        </td>

                                        <td>

                                            <a asp-area="Admin"
                                               asp-controller="ContactUs"
                                               asp-action="HardDelete"
                                               asp-route-id="@c.Id"
                                               class="fa fa-trash btn btn-danger"></a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@section Styles
{
    @await Html.PartialAsync("_DataTablesStylePartial")
    <script>
        const changeIsCompleted = function (element, id) {
            $.ajax({
                url: `/Admin/ContactUs/UpdateIsCompleted/${id}`,
                type: 'GET',
                success: function (response) {
                    $(element.id).attr("checked", response ? "checked" : "");
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };
    </script>
}

@section Scripts
{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}