@model List<User>

<div class="content w-75 float-right container pr-5">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title text-warning">Kullanıcı Listesi</h1>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>İsim</th>
                                            <th>Soyisim</th>
                                            <th>Kullanıcı Adı</th>
                                            <th>Email</th>
                                            <th>Telefon</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var u in Model)
                                    {
                                        <tr>
                                            <td>@u.FirstName</td>
                                            <td>@u.LastName</td>
                                            <td>@u.UserName</td>
                                            <td>@u.Email</td>
                                            <td>@u.PhoneNumber</td>
                                            <td class="text-center">
                                                                                                <a asp-area="Admin"
                                                                                                    asp-controller="User"
                                                                                                    asp-action="AssignRoles"
                                                                                                    asp-route-id="@u.Id"
                                                                                                    class="btn btn-warning btn-sm">
                                                                                                    <i class="fa fa-edit"></i>
                                                                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

@section Styles
{
    @await Html.PartialAsync("_DataTablesStylePartial")
}

@section Scripts
{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}